*{
    padding: 0;
    margin: 0;
    font-family:  Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

/* Barra de navegación */
nav{
    width: 100%;
    position: fixed;
    background-color: #26ee9f;;
    z-index: 1000;
}

nav > ul{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav > ul > a{
    text-decoration: none;
    color: #fffff9;
    text-transform: capitalize;
    list-style-type: none;
    font-size: 20px;
}

nav > ul > a > li{
    margin: 0 10px;
}

nav > ul > a:hover{
    color: #009efd;
    background-color: #fff;
    padding: 2px 0;
    border-radius: 6px;
}

main{
    display: flex;
    flex-wrap: wrap;
}


/* section 1 */

.main--section1{
    height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, #2af598 0%, #009efd 100%);
}

.main--section1__div1{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.main--section1__div2{
    width: 58vh;
    height: 50vh;
    background-color: #221a1429;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.main--section1__div2 > h1, .main--section1__div2 > p,.main--section1__div2 > a{
    color: #fffff9;
    text-transform: capitalize;
    font-size: 5vh;
    margin: 10px 0;
}

.main--section1__div2 > p,.main--section1__div2 > a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3vh;
}

.main--section1__div2 > p{
    font-size: 1em;
}

.main--section1__div2 > a{
    border: 1px solid #00000057;
    padding: 20px 25px;
}

.main--section1__div2 > a:hover{
    color: #009efd;
    background-color: #fff;
    border-radius: 6px;
}

.main--section1__div3{
    width: 58vh;
    height: 60vh;
    margin-left: 50px;
    display: flex;
}

.main--section1__div3 > img{
    width: 100%;
    height: 100%;
    display: flex;
}

/* section 2 */

.main--section2{
    height: 90vh;
    width: 100%;
    background: linear-gradient(to bottom,#009efd 0%, #2af598 100%);
}

.main--section2__div1{
    display: flex;
    justify-content: center;
    align-items: center
}

.main--section2__div2{
    width: 58vh;
    height: 60vh;
    display: flex;
}

.main--section2__div2 > img{
    width: 58vh;
    height: 60vh;
    display: flex;
}

.main--section2__div3{
    width: 50vh;
    height: 70%;
    background-color: #bffce0;
    margin-left: 50px;
    z-index: 100;
}

.main--section2__div3 > h2{
    font-size: 50px;
    color: #2af598;
    margin-left: 3vh;
}

.main--section2__div3 > p{
    padding: 10px;
}

/* section 3 */

    .main--section3{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #2af598 0%, #009efd 100%);
    display: flex;
    justify-content: center;
} 

.main--section3__div1{
    width: 58vh;
    height: 60vh;
    background-color: #bffce0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.main--section3__div2{
    width: 30vh;
    height: 30vh;    
    border: 1px solid #000;
    border-radius: 50%;
    background: url("../img/img3.png") center no-repeat;
    background-size: cover;
}

.main--section3__div3 > p{
    font-size: 1em;
}

.main--section3__div4 > a{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding: 15px;
    border: 1px solid #000;
    font-size: 2vh;
}

.main--section3__div4 > a:hover{
    color: #009efd;
    background-color: #fff;
    border-radius: 6px;
    border: none;
}

/* section 4 */

.main--section4{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #009efd 0%,  #2af598  100%);
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.main--section4__div0{
    display: flex;
    justify-content: center;
    align-items: flex-start
}

.main--section4__div1 > img{
    width: 58vh;
    height: 60vh;
}

.main--section4__div2{
    width: 58vh;
    height: 60vh;
    background-color: #bffce0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

.main--section4__div2 > h2{
    font-size: 5vh;
}

.p1, .p2, .p3, .p4, .p5{
    margin-top: 2.5vh;
}

.fa-mobile-alt{
    padding: 1vh 3.8vh;
    color: #000;
    border: 1px solid #000;
}

.fa-envelope{
    padding: 1vh;
    color: #000;
    border: 1px solid #000;
}

.fa-facebook-square, .fa-instagram, .fa-whatsapp{
    padding: 1vh 8.9vh;
    color: #000;
    border: 1px solid #000;
}

.p1 > a:hover, .p2 > a:hover, .p3 > a:hover, .p4 > a:hover, .p5 > a:hover, .fa-mobile-alt:hover, .fa-envelope:hover, .fa-facebook-square:hover, .fa-instagram:hover, .fa-whatsapp:hover{
    color: #fff;
}

.p1:hover{
    background: #000;
    color: #fff;
}

.p2:hover{
    background: #ea4335;
    color: #fff;
}

.p3:hover{
    background: #0470e5;
    color: #fff;
}

.p4:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) center;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    background-size: cover;
}

.p5:hover{
    background: #00e676;
}


@media (max-width: 1200px ){

    .main--section1__div1{
        height: auto;
        flex-direction: column;
        position: relative;
        top: 70px;
    }

    .main--section1__div3,.main--section2__div3{
        margin-left: 0;
    }

    .main--section2__div1{
        flex-direction: column;
        position: relative;
        top: 70px;
    }

    .main--section3{
        height: 150vh;
    }

    .main--section3__div1{
        position: relative;
        top: 450px;
    }

    .main--section4{
        height: 100vh;
        flex-direction: column;
        align-items: center
    }
    .main--section4__div0{
        flex-direction: column;
        position: relative;
        top: -200px;
    }
}

@media (max-width: 450px ){
    nav > ul {
        height: 95px;
        flex-direction: column;
    }
    main{
        position: relative;
        top: 45px;
    }

    .main--section1__div2,.main--section1__div3, .main--section2__div2,.main--section2__div2 > img, .main--section3__div1 ,.main--section4__div1 > img,.main--section4__div2{
        width: 45vh;
        height: 45vh;
    }

    .main--section2__div3{
        width: 38vh;
        height: auto;
    }
    
    .main--section2__div3 > h2{
        font-size: 7vh;
    }

    .main--section3__div4 > a{
        padding: 1vh;
    }
}

@media (max-width: 360px ){

    .main--section2__div1{
        position: relative;
        top: -100px;
    }

    .main--section1__div2, .main--section1__div3, .main--section2__div2, .main--section2__div2 > img ,.main--section4__div1 > img, .main--section4__div2{
        width: 38vh;
        height: 40vh;
    }

    .main--section3__div1{
        width: 38vh;
        height: 65vh;
        top: 200px;
    }
    
    .p1, .p2, .p3, .p4, .p5{
        margin: 0.5vh;
    }
}

@media (max-width: 320px ){

    .main--section2__div1{
        top: -150px;
    }

    .main--section1__div3, .main--section2__div2, .main--section2__div2 > img, .main--section2__div3,.main--section4__div1 > img, .main--section4__div2{
        width: 32vh;
        height: auto;
    }

    .main--section1__div2{
        width: 32vh;
        height: 30vh;
    }
    
    .main--section1__div2 > a{
        font-size: 2vh;
        margin: 5px 0;
        padding: 0.9vh;
    } 
    
    .main--section1__div2 > p{
        font-size: 1.5vh;
    }

    .main--section3__div1{
        width: 32vh;
        height: 65vh;
        position: relative;
        top: 400px;
    }
    
    .main--section2__div3 > h2{
        font-size: 5vh;
    }
}

